<!-- Page Wrapper -->
<div class="page-wrapper">

    <!-- Header -->
    <header-menu></header-menu>


	

    <router-outlet></router-outlet>


    <!-- Footer -->
   <footer-menu></footer-menu>

</div>









<!-- Login / Register Modal -->
<div class="modal login-modal fade" id="login-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Личный кабинет</h4>
            </div>
            <div class="modal-body">
                <div class="tabs">
                    <ul class="tabs-nav-list modal-t-lr">
                        <li class="sign-in active">Вход</li>
                        <li class="register">Регистрация</li>
                        
                    </ul>
                    <div class="login-tabs-content">
                        <div class="tab-content active">
                            <sign-in></sign-in>
                            
                        </div>
                        <div class="tab-content">
                            <registration></registration>

                            <div class="related-links text-center">
                                <span>Уже есть аккаунт? <a href="#" class="sign-in-form">Войти</a></span>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>














