<!-- Sub Header -->
<div class="sub-header">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-6">
        <h2 class="title">Записатся на  просмотр</h2>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="index-2.html">Главная</a>
          </li>
          <li class="breadcrumb-item active">Запись на просмотр</li>
          <li class="breadcrumb-item ">Beach House</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="container page-container add-property">
  <main id="main" class="main">

    <div  id="add-property-form" class="add-property-form">
        <div class="notice" *ngIf="!LoginStatus" >
            <div class="row">
                <div class="col-lg-9">
                    <p>Запись на просмотр доступна только зарегистированным пользователями. Войдите или зарегистрируйтесь
                    </p>
                </div>
                <div class="col-lg-3">
                    <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#login-modal">Вход / регистрация</button>
                </div>
            </div>
        </div>
      <div class="row" *ngIf="LoginStatus" >
        <div class="col-lg-6 widget widget_popular_listing">
          <label>Ваш выбор</label>

          <div class="popular-listing">
            <div class="post-thumb">
              <a href="#">
                <img class="img-fluid" src="../../images/demo/widget/1.jpg" alt="#"></a>
            </div>
            <div class="post-content">
              <h3 class="post-title">
                <a href="single-property.html">Astoria Villa</a>
              </h3>
              <ul class="post-meta">
                <li>Bads: 4</li>
                <li>Baths: 4</li>
                <li>Sqft: 2,900</li>
              </ul>
              <span class="property-price">$1,000,000</span>
            </div>
          </div>
          <hr>
          <p>
            <label>Предпологаемая дата:</label>
            <input type="text" name="title" class="required" title="* Please provide property title!"></p>
          <hr>
          <p>
            <label>Ваш менеджер:</label>
            Иван
          </p>

          <p>
            <label>Телефон менеджера</label>
            +38(066)12-12-123
          </p>

        </div>
        <div class="col-lg-6">
          <p>
            <label>Имя</label>
            <input type="text" name="title" class="required" title="* Please provide property title!"></p>
          <p>
            <label>Фамилия</label>
            <input type="text" name="title" class="required" title="* Please provide property title!"></p>
          <p>
            <label>Телефон</label>
            <input type="text" name="title" class="required" title="* Please provide property title!"></p>
          <p>
            <label>Email</label>
            <input type="text" name="title" class="required" title="* Please provide property title!"></p>

        </div>

      </div>

      <input type="submit" class="submit-button btn-block" value="Записатся за просмотр"></div>
  </main>
</div>

<!-- Alert -->
<div *ngIf="showModalUnsver" class="swal-overlay swal-overlay--show-modal" tabindex="-1" data-vivaldi-spatnav-clickable="1">
  <div class="swal-modal" role="dialog" aria-modal="true">
    <div *ngIf="showModalUnsverStatus" class="swal-icon swal-icon--error">
      <div class="swal-icon--error__x-mark">
        <span class="swal-icon--error__line swal-icon--error__line--left"></span>
        <span class="swal-icon--error__line swal-icon--error__line--right"></span>
      </div>
    </div>
    <div *ngIf="showModalUnsverStatus" class="swal-icon swal-icon--success">
      <span class="swal-icon--success__line swal-icon--success__line--long"></span>
      <span class="swal-icon--success__line swal-icon--success__line--tip"></span>

      <div class="swal-icon--success__ring"></div>
      <div class="swal-icon--success__hide-corners"></div>
    </div>
    <div class="swal-title">Спасиобо за Ваш визит!</div>
    <div class="swal-text">А текст кнопик был `не нажимать` :)</div>
    <div class="swal-footer">
      <div class="swal-button-container">

        <button class="swal-button swal-button--confirm" data-vivaldi-spatnav-clickable="1">OK</button>

        <div class="swal-button__loader">
          <div></div>
          <div></div>
          <div></div>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- Alert -->