<!-- Sub Header -->
<div class="sub-header">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-sm-6">
				<h2 class="title">Настройка профиля</h2>
			</div>
			<div class="col-sm-6">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a [routerLink]="['/']">Главная</a>
					</li>
					<li class="breadcrumb-item active">Ваш профиль</li>
					<li class="breadcrumb-item active">Список заявок</li>
				</ol>
			</div>
		</div>
	</div>
</div>

<div class="container page-container edit-profile">
	<div class="row">
		<div class="col-md-4 col-lg-3">
			<app-nav-menu></app-nav-menu>
		</div>
		<div class="col-md-8 col-lg-9">
			<main id="main" class="main">
				<div id="edit-profile-form" class="edit-profile-form">
					<h3 class="title">Ваша информация</h3>
					<p>
						<label>Загрузить новое фото</label>
						<a href="#" class="upload-btn btn btn-block btn-secondary btn-lg">
							<i class="fa fa-cloud-upload"></i>
							Загрузить фото
						</a>
					</p>

					<div class="row">
						<div class="col-md-6">
							<p>
								<label>Имя</label>
								<input type="text" name="fname" placeholder="First Name" class="required" title="*Please provide your first name"></p>
						</div>
						<div class="col-md-6">
							<p>
								<label>Фамилия</label>
								<input type="text" name="lname" placeholder="Last Name" class="required" title="*Please provide your last name"></p>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<p>
								<label>Телефон</label>
								<input type="text" name="number" placeholder="Number" value="(917) 746-5828 "></p>
						</div>
						<div class="col-md-6">
							<p>
								<label>Email</label>
								<input type="email" name="email" placeholder="Email" class="required email" title="*Please provide your Email Address"></p>
						</div>
					</div>

					<br>

					<h3 class="title">Контакты</h3>

					<div class="row">
						<div class="col-md-6">
							<p>
								<label>Паспорт</label>
								<input type="text" name="facebook" placeholder="Link"></p>
						</div>
						<div class="col-md-6">
							<p>
								<label>ИД Код</label>
								<input type="text" name="instagram" placeholder="Link"></p>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<p>
								<label>Город</label>
								<input type="text" name="facebook" placeholder="Link"></p>
						</div>
						<div class="col-md-6">
							<p>
								<label>Адресс</label>
								<input type="text" name="instagram" placeholder="Link"></p>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<p>
								<label>№ дом</label>
								<input type="text" name="twitter" placeholder="Link"></p>
						</div>
						<div class="col-md-6">
							<p>
								<label>№ квартиры</label>
								<input type="text" name="linkedin" placeholder="Link"></p>
						</div>
					</div>

				</div>
				<br>
				<br>
				<br>
				<div id="change-password-form" class="change-password-form">
					<h3 class="title">Изменить пароль</h3>
					<div class="row">
						<div class="col-lg-6">
							<input type="password" name="currentPassword" class="required" placeholder="Старый пароль" title="*Please provide current password"></div>
						<div class="col-lg-6">
							<input type="password" name="newPassword" class="required" placeholder="Новый пароль" title="*Please provide new password"></div>

					</div>
					<input type="submit" class="submit-button btn-block" value="Изменить пароль">
					
				</div>
			</main>
		</div>
	</div>
</div>