
  <div class="user-profile">
    <img class="img-fluid" src="../../images/sozdayka-about.png" alt="Andrea Craoml">
    <div class="user-info-wrapper">
      <div class="user-info">
        <h3 class="name">Игорь Росляков</h3>
        <span *ngIf="RoleStatus">Аген</span>
      </div>
      <ul class="user-navigation list-unstyled">
        <li [routerLinkActive]="['link-active']">
          <a [routerLink]="['/edit-my-profile']"> <i class="fa fa-user"></i>
            Настройки профиля
          </a>
        </li>
        <li [routerLinkActive]="['link-active']">
          <a [routerLink]="['/my-profile']"> <i class="fa fa-list-ul"></i>
            Список заявок
          </a>
        </li>
        <li *ngIf="RoleStatus" [routerLinkActive]="['link-active']">
          <a [routerLink]="['/list-of-real-estate']">
            <i class="fa fa-plus"></i>
            Список недвижимости
          </a>
        </li>
        <li [routerLinkActive]="['link-active']">
          <a [routerLink]="['/logout']">
            <i class="fa fa-power-off"></i>
            Выйти
          </a>
        </li>
      </ul>
    </div>
  </div>