<footer id="footer" class="footer">
    <div class="container">
        <aside class="row footer-widgets">
            <div class="widget-column col-md-6 col-lg-3">
                <section class="widget widget_text">
                    <h2 class="widget-title d-none">О нас</h2>
                    <div class="textwidget">
                        <div class="footer-logo-widget">
                            <a [routerLink]="['/home']">
                                <img src="../../images/logo.png" alt="Logo"></a>
                            <p>
                                Компания Лучший ДОМ занимает лидирующие позиции на рынке недвижимости благодаря команде экспертов рынка.
                            </p>
                        </div>
                    </div>
                </section>
            </div>
            <div class="widget-column col-md-6 col-lg-3">
                <section class="widget widget_contact">
                    <h2 class="widget-title">Контакты</h2>
                    <div class="get-touch">
                        <h6 class="title">Харьков</h6>
                        <ul>
                            <li> <i class="fa fa-map-marker"></i>
                                <span>пр.Науки 14 к:101ж,61025</span>
                            </li>
                            <li> <i class="fa fa-mobile"></i>
                                <span>+38 (012)-34-43-121</span>
                            </li>
                            <li>
                                <i class="fa fa-envelope-o"></i>
                                <a href="mailto:support@LuchshiyDOM.com">support@LuchshiyDOM.com</a>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
            <div class="widget-column col-md-6 col-lg-3">

                <section class="widget widget_nav_menu">
                    <h2 class="widget-title">Информация</h2>
                    <ul>
                        <li>
                            <a href="#">О нас</a>
                        </li>
                        <li>
                            <a href="#">Компания</a>
                        </li>
                        <li>
                            <a href="#">Лицензия</a>
                        </li>
                        <li>
                            <a href="#">Вакансия</a>
                        </li>

                    </ul>
                </section>
            </div>
            <div class="widget-column col-md-6 col-lg-3">
                <section class="widget newsletter_widget">
                    <h2 class="widget-title">Наш принцип</h2>
                    <p>
                        Лучшая сделка — это та, по заключении которой остается чувство, что обе стороны достигли желаемого и остались довольны.
                    </p>
                </section>
                <section class="widget widget_social_media">
                    <h6 class="sr-only">Соц сети</h6>
                    <a href="#">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-instagram"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-youtube"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-pinterest"></i>
                    </a>
                </section>
            </div>
        </aside>
    </div>
    <div class="sub-footer text-center">
        <div class="container">
            <p>
                <span>
                    © 2018
                    <a href="#" title="Лучший ДОМ">Лучший ДОМ</a>
                    . Дипломный проэкт Сас Владислава
                </span>
            </p>
        </div>
    </div>
</footer>