<div class="container page-container">
	<div class="row">
		<div class="col-lg-12 col-xl-12">
			<main id="main" class="main">
				<article class="post-item">
					<header class="section-header entry-header">

						<h2 class="section-title entry-title">Ошибка страница не найдена!</h2>
					</header>
					<div class="entry-content">
						<p>
							Страница, которую вы запросили, не находится в нашей базе данных. Скорее всего вы попали на битую ссылку или опечатались при вводе URL.
							<a [routerLink]="['/']" rel="home">Вернутся на главную</a>
						</p>
					</div>
				</article>
			</main>
		</div>
	</div>
</div>